<!DOCTYPE html>
<html lang="ja" ng-app="form">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>tento.tech</title>
		<meta content="tento.tech" name="title">
		<meta content="tento.tech 初心者歓迎なプログラミングコミュニティです" name="description">
		<meta content='tento.tech,tentotech,tento,テント,プログラミング,コミュニティ,初心者' name='keywords'>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="tento.tech"/>
		<meta property="og:description" content="tento.tech 初心者歓迎なプログラミングコミュニティです" />
		<meta property="og:image" content="http://tento.tech/pic/logo.png" />
		<meta property="og:url" content="http://tento.tech" />
		<meta property="og:site_name" content="tento.tech"/>
		<meta content="summary" name="twitter:card" />
		<meta content="@tento_tech" name="twitter:site" />
		<meta property="og:email" content="info@tento.tech">
		<meta property="og:locale" content="ja_JP" />
		<meta property="fb:admins" content="tentotech" />
		<meta property="fb:app_id" content="553021538222839" />
		<link rel="apple-touch-icon" href="pic/ati.png" />

		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
		<script src="js/ng.js"></script>
		<script src="js/prefixfree.js"></script>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/form.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>
	<body>
		<section class="top">
			<div class="fil">
				<div class="loading-content">
					<div class="progress"></div>
				</div>
				<div class="main-content">
					<div class="title-box">
						<h1 class="title">tento.tech</h1>
						<hr>
						<p>
							屋外猫背カチャカチャ団<br>
							風ニモ バッテリーニモマケズ
						</p>
					</div>
					<div class="menu_list">
						<ul>
							<li linkclass="about"><a href="#">About<p>なにこれ</p></a></li>
							<li linkclass="member"><a href="#">Member<p>主要メンバー</p></a></li>
							<li linkclass="works"><a href="#">Work<p>活動経歴</p></a></li>
							<li linkclass="contact"><a href="#">Contact<p>連絡フォーム</p></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="sub about">
			<div class="sub-sec-title">
				<h1 class="title">about</h1>
				<p>このコミュニティについて</p>
			</div>
			<div class="about-text">
				<div class="box more">
					<div class="midashi">
						<i class="fa fa-heart-o"></i>
						<h6>About us</h6>
					</div>
					<div class="main-text">
						私たちは、tento.techは中高生プログラマーコミュニティです。<br>
						<br>
						オンライン上での繋がりはもちろん<br>
						<br>
						隔週にリアルで集まり屋外プログラミングをし、健康維持、外交力向上を図ります。<br>
						<br>
						活動場所はテントが張れる都内の公園で、江東区立若洲公園です。<br>
						<br>
						１年間に一度成果報告会なるものを開催しようと思っています。<br>
						<a href="javascript:void(0)" class="close"><i class="fa fa-times-circle"></i></a>
					</div>
				</div>
				<div class="box more">
					<div class="midashi">
						<i class="fa fa-user-plus"></i>
						<h6>How to Join</h6>
					</div>
					<div class="main-text">
						参加方法はトップページより連絡フォームからご連絡ください。<br>
						<br>
						その際にTwitterIDを一緒に記載していただければ、Twitter上でのDMにてご連絡させていただきます<br>
						<br>
						<a href="javascript:void(0)" class="close"><i class="fa fa-times-circle"></i></a>
					</div>
				</div>
				<!--<div class="box more">
					<div class="midashi">
						<i class="fa fa-globe"></i>
						<h6>Online</h6>
					</div>
					<div class="main-text">
						Comming soon
						<a href="javascript:void(0)" class="close"><i class="fa fa-times-circle"></i></a>
					</div>
				</div>
				<div class="box more">
					<div class="midashi">
						<i class="fa fa-comments"></i>
						<h6>Real</h6>
					</div>
					<div class="main-text">
						Comming soon
						<a href="javascript:void(0)" class="close"><i class="fa fa-times-circle"></i></a>
					</div>
				</div>-->
			</div>
			<div>

			<a href="javascript:void(0)"><div class="cancel" remove="about"><div class="line"></div></div></a>
		</section>
		<section class="sub member">
			<div class="sub-sec-title">
				<h1 class="title">member</h1>
				<p>主要メンバーについて</p>
			</div>
			<!-- profile -->
			<hr class="first">
			<div class="profile">
				<img src="pic/reizou.jpg">
				<div class="user_text">
					<h3 class="name">
						reizou05
					</h3>
					<span>リーダー</span>
				</div>
				<p class="intro">
					<a href="https://twitter.com/05_0h">@05_0h</a>ここのリーダやらせてもらってます<br>
					筋トレが大好きな高校生です。<br>
				</p>
			</div>
			<hr class="second">

			<!-- profile -->
			<div class="whitezone"></div>
			<hr class="first">
			<div class="profile">
				<img src="pic/tomoki.jpg">
				<div class="user_text">
					<h3 class="name">
						wh11e7rue
					</h3>
					<span>誰</span>
				</div>
				<p class="intro">イミュータブルな世界を目指して</p>
			</div>
			<hr class="second">
			<!-- profile -->
			<div class="whitezone"></div>
			<hr class="first">
			<div class="profile">
				<img src="pic/ghost.jpg">
				<div class="user_text">
					<h3 class="name">
						nagimaru
					</h3>
					<span>TENTOの犬</span>
				</div>
				<p class="intro">
					奪え！！マスコットの座！！<br>
					どちらかというとフロントエンド側の人間です。<br>
					Javascript / PHP / Erlang / HTML&CSS<br>
					このサイト作った人です。お仕事待ってます！！
				</p>
			</div>
			<hr class="second">

			<a href="javascript:void(0)"><div class="cancel" remove="member"><div class="line"></div></div></a>
		</section>
		<section class="sub works">
			<div class="sub-sec-title">
				<h1 class="title">works</h1>
				<p>
					活動経歴たち<br>
					<span>(マウス置いたりタップしてみて)</span>
				</p>
			</div>
			<a href="javascript:void(0)"><figure>
				<img src="pic/soon.jpg" />
				<figcaption>
					<h1>open community</h1>
					<p>
						4/1<br>
						tento.techがオープン!!
					</p>
				</figcaption>
			</figure></a>
			<a href="javascript:void(0)"><figure>
				<img src="pic/news.jpg" />
				<figcaption>
					<h1>make home page</h1>
					<p>
						2/11<br>
						このサイトが(だいたい)完成しました。<br>
						@_Ghostrick_が作ったゾ
					</p>
				</figcaption>
			</figure></a>


			<a href="javascript:void(0)"><div class="cancel" remove="works"><div class="line"></div></div></a>
		</section>
		<section class="sub contact" ng-controller="post">
			<div class="sub-sec-title">
				<h1 class="title">contact</h1>
				<p>連絡フォーム</p>
			</div>
			<!-- http://tympanus.net/Development/TextInputEffects/ -->
			<div class="form">
				<span class="input">
					<input class="input__field input__field" type="text" ng-model="name">
					<label class="input__label input__label">
						<span class="input__label-content input__label-content">Your name</span>
					</label>
				</span><br>
				<span class="input">
					<input class="input__field input__field" type="text" ng-model="mail">
					<label class="input__label input__label">
						<span class="input__label-content input__label-content">Your e-mail</span>
					</label>
				</span><br>
				<span class="input">
					<textarea class="input__field input__field" type="text" ng-model="text"></textarea>
					<label class="input__label input__label">
						<span class="input__label-content input__label-content">Main text</span>
					</label>
				</span><br>
			<div class="sendbutton activesend" ng-click="send()">send</div>
			<div class="sended ">送信完了</div>
			</div>


			<a href="javascript:void(0)"><div class="cancel" remove="contact"><div class="line"></div></div></a>
		</section>
	</body>
	<!-- http://tympanus.net/Development/TextInputEffects/ -->
	<script src="js/classie.js"></script>
	<script>
			(function() {
				if (!String.prototype.trim) {
					(function() {
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( '.input__field' ) ).forEach( function( inputEl ) {
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>
</html>
